#friendsImage {
    border-radius: 5px;
    width: 100%;
    margin-top: 1%;
}

#jojoAkloImage {
    border-radius: 5px;
    width: 100%;
    margin-top: 1%;
}

#stevenCrueltyImage {
    border-radius: 5px;
    width: 100%;
    margin-top: 1%;
}