#aboutBody {
    padding-top: 5%;
    padding-left: 4.75%;
    height: 100%;
    width: 90%;
}

.aboutDescription {
    display: flex;
    justify-content: space-between;
    color: white;
    border: 3px solid rgb(20, 172, 238);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    margin-bottom: 100px;

}

.aboutParagraph {
    width: 55%;
    margin: 3%;
    font-size: 22px;
}

.aboutPics {
    border-left: 3px solid rgb(20, 172, 238);
    height: 100%;
    width: 45%;
}

#middlePic {
    border-right: 3px solid rgb(20, 172, 238);
    border-left: none;
}