#navBody {
     margin-top: 20px; /* may need to change based on monitor sizes */
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(20, 172, 238);
    /* border: 3px solid rgb(142, 5, 142); */
    height: 100px; /* will change based on nyc melee logo size.
                 Expecting logo to be bigger than navbar height though */
    width: 90%; 
    border-radius: 5px;
}

#navLogo {
    margin-right: 5%;
    margin-left: 1%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: black;
    border-radius: 50px;
}

.navLinks {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-right: 40px;
}

.navLinks:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.sideLinks {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
};

/* .links {

} */