#galleryBody {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1%;
}

#friendsImage {
    width: 49.5%;
    margin-right: 0.5%;

}

#jojoAkloImage {
    width: 49.5%;
    margin-left: 0.5%;

}

#stevenCrueltyImage {
    width: 100%;
    margin-top: 1%;
}